   body {
      font-family: sans-serif;
      background-color: #fff;
      margin: 0;
    }
    
    .container {
      width: 500px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f4f4f4;
    }
    
    .header {
      text-align: center;
    }
    
    .title {
      font-size: 20px;
      font-weight: bold;
    }
    
    .input-group {
      margin-bottom: 10px;
    }
    
    .input-group input {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    
    .input-group label {
      display: block;
      font-size: 16px;
    }
    
    .button {
      width: 100%;
      background-color: #000;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      padding: 10px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }
    
    .button:hover {
      background-color: #000000;
    }
    
    .error {
      color: red;
    }
    
    .signup {
      text-align: center;
    }
    
    .signup a {
      display: block;
      margin-top: 10px;
      text-decoration: none;
      color: #000;
    }
    
    .signup a:hover {
      color: #000000;
    }
  